/*

  ¡Thanks for looking at my code! :)
  Built by Wi-Fi, follow me on Twitter:
    ____  ____  _                 __        ___ _____ _  
   / __ \|  _ \(_) ___  __ _  ___ \ \      / (_)  ___(_) 
  / / _` | | | | |/ _ \/ _` |/ _ \ \ \ /\ / /| | |_  | | 
 | | (_| | |_| | |  __/ (_| | (_) | \ V  V / | |  _| | | 
  \ \__,_|____/|_|\___|\__, |\___/___\_/\_/  |_|_|   |_| 
   \____/              |___/    |_____|                  

*/


@font-face {
    font-family: Sanchez;
    src: url(../fonts/Sanchez.otf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #181818;
    overflow-x: hidden;
}

/*Base code for sections*/

.agenda, .mentores, .jueces, .lugar, .tickets, .patrocinadores {
    height: auto;
    padding: 60px 0 100px 0;
    width: 100%;
}

.agenda h2, .mentores h2, .jueces h2, .lugar h2, .tickets h2, .patrocinadores h2{
    font:72px "Sanchez", sans-serif;
    margin-bottom: 0;
}

.agenda h3, .mentores h3, .jueces h3, .lugar h3, .tickets h3, .patrocinadores h3 {
    font:30px "Sanchez", sans-serif;
    margin-top: 0;
}

.mentor img, .juez img {
    display: block;
    -webkit-filter: grayscale(50%);
    -moz-filter: grayscale(50%);
    -o-filter: grayscale(50%);
    -ms-filter: grayscale(50%);
    filter: grayscale(50%);
    height: 140px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
    width: 140px;
}


.mentor:hover img, .juez:hover img {
    -moz-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.mentor h4, .juez h4 {
    font:20px bold "Roboto", sans-serif;
    text-align: center;
    padding: 15px 0 10px 0;
}

.agenda .row, .mentores .row, .jueces .row, .lugar .row, .tickets .row, .patrocinadores .row{
    margin-top: 50px;
}

/*Background img*/

.action {
    background: url(../img/sw.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    padding: 40px 0 40px 0;
    position: relative;
    width: 100%;
}

.action h1 {
    color: #12edde;
    font: 64px "Sanchez", sans-serif;
} 

.action p {
    color: white;
    font-size: 16px;
    vertical-align: middle;
}

.action img {width: 100%;}

/*Intro message with button*/

.intro {height: 580px;}

.intro div {
    position: relative;
    top: 25%;
}

.intro a {
    background-color: #12edde;
    color: #000;
    display: block;
    font: 26px "Roboto", sans-serif;
    margin: 40px auto;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    width: 60%;
}

.intro a:hover {background-color: #2fb5a9;}

nav {
    height: auto;
    margin-bottom: 50px;
    width: 100%;
    z-index: 1;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav ul li a {
    color: #FFF;
    font: 18px "Sanchez", sans-serif;
    padding: 20px;
    text-decoration: none;
}

nav ul li a:hover {
    color: #12edde;
    text-decoration: none;
}



/*Agenda*/

.agenda{background-color: #2fb5a9;}

.agenda h2 {color: #FFF;}

.agenda h3{color: #383838;}

table {
    background-color: white;
    margin-top: 40px;
}

th:first-child {
    background-color: #2fb5a9;
    color: #FFF;
    font-size: 14px;
    text-align: center;
}

th {
    color: #000;
    font-size: 22px;
}

tr td:first-child {
    text-align: center;
}

/*Mentores*/

.mentores {background-color: #FFF;}

.mentor:hover {
    background-color: #383838;
    color: #FFF;
}

.mentor img{border: solid 5px #2fb5a9;}

.mentores h2 {color: #000;}

.mentores h3 {color: #383838;}

.mentor a {color: #2fb5a9;}

/*Jueces*/

.juez {
    color: #FFF;
    width: 27.5%;
}

.jueces {background-color: #2b2a2a;}

.jueces h2 {color: #12edde;}

.jueces h3 {color: #FFF;}

.juez:hover {
    background-color: #FFF;
    color: #000;
}

.juez img {border: solid 5px #12edde;}

.juez:hover img {border: solid 5px #383838;}

.juez a {color: #2fb5a9;}

/*Lugar*/

.lugar {background-color: #2fb5a9;}

.lugar h2 {color: #FFF;}

.lugar h3 {color: #3f3f3f;}

.lugar h4 {
    color: #181818;
    font: 44px "Roboto", sans-serif;
    font-weight: 100;
    padding-top: 60px;
}

/*Tickets*/

.tickets {background-color: #FFF;}

.tickets h2 {color: #000;}

.tickets h3 {color: #383838;}

.tickets .row .col-md-3 {
    border: solid 2px #cecece;
    height: auto;
    width: 27.5%;
}

.tickets i {
    color: #2fb5a9;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 50px;
}

.tickets h4 {
    color: #000;
    font: 34px "Sanchez",sans-serif;
    text-align: center;
}

.tickets p {padding-top: 20px;}

.tickets a {
    background-color: #2fb5a9;
    color: #FFF;
    display: inline-block;
    font: 30px "Sanchez",sans-serif;
    padding: 20px 40px;
    margin-top: 60px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.tickets a:hover {background-color: #383838;}

/*Patrocinadores*/

.patrocinadores { background-color: #2b2a2a;}

.patrocinadores h2 {color: #12edde;}

.patrocinadores h3 {color: #FFF;}

.patrocinadores img {width: 100%;}

.patrocinadores .col-md-2 {padding-top: 40px;}


footer {
    background-color: #181818;
    color: #FFF;
    height: auto;
    font: 16px "Roboto", sans-serif;
    font-weight: 400;
    padding: 20px 0 20px 0;
    text-align: center;
    width: 100%;
}

#mapa {
    border: solid 1px #383838;
    display: block;
    height: 400px;
}

footer a {
    color: #FFF;
    text-decoration: none;
}

footer a:hover {
    color: #FFF;
    text-decoration: none;
}

@media (max-width: 990px) {
 
    nav ul {
        float: none;
        margin: 0 auto;
    }

    nav ul li {text-align: center;}

    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 60px;
    }

    .action {padding-bottom: 0;}

    .intro div {top: 0;}

    .action img {
        margin: 50px auto;
        width: 70%;
    }

    .mentor {
        display: inline-block;
        padding: 20px;
        vertical-align: top;
        width: 49.7%;
    }

    .juez {
        padding: 5px 20px 20px 20px;
        width: 100%;
    }

    #mapa {
        margin: 50px auto;
        width: 95%;
    }

    .tickets .row .col-md-3 {
        margin: 2%;
        width: 96%;
    }

    .tickets a {
        margin-left: 0;
        width: 100%;
    }

    .patrocinadores .col-md-2 {
        display: inline-block;
        width: 49%;
    }
}

@media (max-width: 685px) {
 
    .intro{margin-bottom: 100px;}
    
    .intro a{width: 100%;}
    
    .action img {
        margin: 50px auto;
        width: 100%;
    }

    nav ul {
        float: none;
        margin: 0 auto;
        width: 100%;
    }

    nav ul li {
        text-align: center;
        margin: 10px 0 10px 0;
        width: 100%;
    }

    .mentor {width: 100%;}

    #mapa {
        height: 230px;
        margin: 50px auto;
        width: 95%;
    }

    .patrocinadores h2 {font-size: 42px;}

    .patrocinadores h3 {font-size: 22px;}
}